{% include 'header.html' %}

<div class="container">

    {% with messages = flash_messages %}
    {% if messages %}
    <div class="alert alert-info">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="container">
        <br>
        <h1>Checkout</h1>
        <br><br>
        <form method="post" action="{{ url_for('checkout') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.full_name.label(class="form-control-label") }}
                {{ form.full_name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.phone_number.label(class="form-control-label") }}
                {{ form.phone_number(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.address.label(class="form-control-label") }}
                {{ form.address(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>

{% include 'footer.html' %}
