{% include 'header.html' %}

{% block content %}


<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" src="{{ product.img_url }}" alt="{{ product.product_name }}" />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Product Details</h2>
                <!-- Product variations -->
                {% for variation in variations %}
                    <div class="mb-3">
                        <h5>{{ variation.diameter }} - {{ variation.meters }} meters</h5>
                        <p>Price: {{ variation.price }} Lek</p>

                        <!-- Stock Bar -->
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ (variation.stock / max_stock) * 100 }}%;" aria-valuenow="{{ variation.stock }}" aria-valuemin="0" aria-valuemax="{{ max_stock }}">
                                {{ variation.stock }} / {{ max_stock }} in stock
                            </div>
                        </div>

                        <!-- Add to Cart Button -->
                        <form action="{{ url_for('add_to_cart') }}" method="post">
                            <input type="hidden" name="product_id" value="{{ product.id }}">
                            <input type="hidden" name="product_type" value="{{ product_type }}">
                            <input type="hidden" name="diameter" value="{{ variation.diameter }}">
                            <input type="hidden" name="meters" value="{{ variation.meters }}">
                            <button type="submit" class="btn btn-outline-dark mt-3" {% if variation.stock <= 0 %}disabled{% endif %}>Add to Cart</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% include 'footer.html' %}
